@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300&family=Nova+Round&family=Poppins:wght@100;300&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

/* extra animations */
.animate-slide-up {
  transition: bottom 0.3s ease-in-out, opacity 0.3s ease-in-out;
  animation: pop-up 0.5s ease-in-out;
}

.animate-slide-down {
  transition: bottom 0.3s ease-in-out, opacity 0.3s ease-in-out;
  animation: pop-down 0.5s ease-in-out;
}

@keyframes pop-up {
  0% {
    transform: translateY(100%);
  }
  70% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes pop-down {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(100%);
  }
}
